WalletFrame {
border-image: url(':/images/ltbcbg') 0 0 0 0 stretch stretch;
/* background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #222222, stop: .1 #EEEEEE, stop: .9 #EEEEEE, stop: 1 #222222); */
border:0;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
border-top:0px solid #000;
margin:0;
padding:0;
}

QStatusBar {
background-color:transparent;
}

.QFrame {
background-color:transparent;
border:0px solid #fff;
}

QMenuBar {
background-color:#fff;
}

QMenuBar::item {
background-color:#fff;
}

QMenuBar::item:selected {
background-color:#f8f6f6;
}

QMenu {
background-color:#f8f6f6;
}

QMenu::item {
color:#333;
}

QMenu::item:selected {
background-color:#666666;
color:#333333;
}

QToolBar {
background-color: qlineargradient(spread:pad, x1:0.522, y1:0, x2:0.499364, y2:0.915, stop:0.363636 rgba(21, 28, 47, 196), stop:1 rgba(21, 28, 47, 255));
border:0;
border-top-left-radius:10px;
border-top-right-radius:10px;
border:0px solid #000;
padding:0;
margin:0;
}

QToolBar > QToolButton {
background-color :qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, stop:0.505682 rgba(0, 0, 0, 0));
border-top-left-radius:10px;
border-top-right-radius:10px;
border:0px solid #333;
min-height:2.5em;
padding: 0em 1em;
font-weight:bold;
color:#ccc;
}

QToolBar > QToolButton:checked {
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.14 rgba(21, 28, 47, 182), stop:0.386364 rgba(21, 28, 47, 232), stop:0.926136 rgba(21, 28, 47, 255));
color:#fff;
font-weight:bold;
}

QMessageBox {
border-image: url(':/images/lbtcendbtc') 0 0 0 0 stretch stretch;
}

QMessageBox QLabel {
color: rgb(255, 255, 255);
}


/*******************************************************/

.QCheckBox { /* Checkbox Labels */
color:#fff;
background-color:transparent;
}

.QCheckBox:hover {
background-color:transparent;
}

.QValidatedLineEdit, .QLineEdit { /* Text Entry Fields */
border: 1px solid #000000;
font-size:11px;
min-height:25px;
outline:0;
padding:3px;
background-color:#fcfcfc;
}

.QLineEdit:!focus {
font-size:12px;
}

.QValidatedLineEdit:disabled, .QLineEdit:disabled {
background-color:#f2f2f2;
}

QWidget#AddressBookPage QPushButton { /* Global Button Style */
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 118));
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QWidget#AddressBookPage QPushButton:hover {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 171));
}

QWidget#AddressBookPage QPushButton:focus {
border:none;
outline:none;
}

QWidget#AddressBookPage QPushButton:pressed {
border:1px solid #FFFFFF;
}

QDialog QPushButton { /* Global Button Style */
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 118));
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QDialog QPushButton:hover {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 171));
}

QDialog QPushButton:focus {
border:none;
outline:none;
}

QDialog QPushButton:pressed {
border:1px solid #FFFFFF;
}

QPushButton { /* Global Button Style */
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 118));
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QPushButton:hover {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 171));
}

QPushButton:focus {
border:none;
outline:none;
}

QPushButton:pressed {
border:1px solid #FFFFFF;
}


QWidget#transactionView QPushButton { /* Global Button Style */
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 118));
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QWidget#transactionView QPushButton:hover {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 171));
}

QWidget#transactionView QPushButton:focus {
border:none;
outline:none;
}

QWidget#transactionView QPushButton:pressed {
border:1px solid #FFFFFF;
}

QWidget#RPCConsole QPushButton { /* Global Button Style */
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 118));
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QWidget#RPCConsole QPushButton:hover {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 171));
}

QWidget#RPCConsole QPushButton:focus {
border:none;
outline:none;
}

QWidget#RPCConsole QPushButton:pressed {
border:1px solid #FFFFFF;
}

QWidget#usedReceivingAddressesPage QPushButton { /* Global Button Style */
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 118));
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QWidget#usedReceivingAddressesPage QPushButton:hover {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 171));
}

QWidget#usedReceivingAddressesPage QPushButton:focus {
border:none;
outline:none;
}

QWidget#usedReceivingAddressesPage QPushButton:pressed {
border:1px solid #FFFFFF;
}

QWidget#usedSendingAddressesPage QPushButton { /* Global Button Style */
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 118));
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QWidget#usedSendingAddressesPage QPushButton:hover {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 171));
}

QWidget#usedSendingAddressesPage QPushButton:focus {
border:none;
outline:none;
}

QWidget#usedSendingAddressesPage QPushButton:pressed {
border:1px solid #FFFFFF;
}

QWidget#ReceiveCoinsDialog QPushButton { /* Global Button Style */
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 118));
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QWidget#ReceiveCoinsDialog QPushButton:hover {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 171));
}

QWidget#ReceiveCoinsDialog QPushButton:focus {
border:none;
outline:none;
}

QWidget#ReceiveCoinsDialog QPushButton:pressed {
border:1px solid #FFFFFF;
}

QStackedWidget#SendCoinsEntry QPushButton { /* Global Button Style */
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 118));
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QQStackedWidget#SendCoinsEntry PushButton:hover {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 171));
}

QStackedWidget#SendCoinsEntry QPushButton:focus {
border:none;
outline:none;
}

QStackedWidget#SendCoinsEntry QPushButton:pressed {
border:1px solid #FFFFFF;
}

QComboBox { /* Dropdown Menus */
border:1px solid #000000;
padding: 3px 5px 3px 5px;
background:#fcfcfc;
min-height:25px;
color:#818181;
}

QComboBox:checked {
background:#f2f2f2;
}

QComboBox:editable {
background: #3398CC;
color:#616161;
border:0px solid transparent;
}

QComboBox::drop-down {
width:25px;
border:0px;
}

QComboBox::down-arrow {
border-image: url(':/images/drkblue_downArrow') 0 0 0 0 stretch stretch;
}

QComboBox QListView {
background:#fff;
border:1px solid #333;
padding-right:1px;
padding-left:1px;
}

QComboBox QAbstractItemView::item { margin:4px; }

QComboBox::item {
color:#818181;
}

QComboBox::item:alternate {
background:#fff;
}

QComboBox::item:selected {
border:0px solid transparent;
background:#f2f2f2;
}

QComboBox::indicator {
background-color:transparent;
selection-background-color:transparent;
color:transparent;
selection-color:transparent;
}

QAbstractSpinBox {
border:1px solid #000000;
padding: 3px 5px 3px 5px;
background:#fcfcfc;
min-height:25px;
color:#818181;
}

QAbstractSpinBox::up-button {
subcontrol-origin: border;
subcontrol-position: top right;
width:21px;
background:#fcfcfc;
border-left:0px;
border-right:1px solid #000000;
border-top:1px solid #000000;
border-bottom:0px;
padding-right:1px;
padding-left:5px;
padding-top:2px;
}

QAbstractSpinBox::up-arrow {
image:url(':/images/drkblue_upArrow_small');
}

QAbstractSpinBox::down-button {
subcontrol-origin: border;
subcontrol-position: bottom right;
width:21px;
background:#fcfcfc;
border-top:0px;
border-left:0px;
border-right:1px solid #000000;
border-bottom:1px solid #000000;
padding-right:1px;
padding-left:5px;
padding-bottom:2px;
}

QAbstractSpinBox::down-arrow {
image:url(':/images/drkblue_downArrow_small');
}

QCheckBox {
spacing: 5px;
}

QCheckBox::indicator {
width: 16px;
height: 16px;
}

QCheckBox::indicator:unchecked {
image:url(':/images/unchecked');
}

QCheckBox::indicator:unchecked:hover {
image:url(':/images/unchecked');
}

QCheckBox::indicator:unchecked:pressed {
image:url(':/images/checked');
}

QCheckBox::indicator:checked {
image:url(':/images/checked');
}

QCheckBox::indicator:checked:hover {
image:url(':/images/checked');
}

QCheckBox::indicator:checked:pressed {
image:url(':/images/unchecked');
}

QCheckBox::indicator:indeterminate:hover {
image:url(':/images/unchecked');
}

QCheckBox::indicator:indeterminate:pressed {
image:url(':/images/checked');
}

/*******************************************************/

QHeaderView { /* Table Header */
background-color:transparent;
}

QHeaderView::section { /* Table Header Sections */
qproperty-alignment:center;
/* background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #4c97bf, stop: 1 #56ABD8); */
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 173));
color:#b8b8b8;
min-height:25px;
/* font-weight:bold; */
font-size:11px;
outline:0;
border:0px solid #fff;
border-right:1px solid #fff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
}

QHeaderView::section:last {
border-right: 0px solid #d7d7d7;
}

.QScrollArea {
background:transparent;
border:0px;
}

.QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
background:transparent;
border:0px solid #fff;
}

QTableView::item { /* Table Item */
background-color:#fcfcfc;
font-size:12px;
}

QTableView::item:selected { /* Table Item Selected */
background-color:#f0f0f0;
color:#333;
}

QScrollBar { /* Scroll Bar */

}

QScrollBar:vertical { /* Vertical Scroll Bar Attributes */
border:0;
background:#ffffff;
width:18px;
margin: 18px 0px 18px 0px;
}

QScrollBar:horizontal { /* Horizontal Scroll Bar Attributes */
border:0;
background:#ffffff;
height:18px;
margin: 0px 18px 0px 18px;
}


QScrollBar::handle:vertical { /* Scroll Bar Slider - vertical */
background:#e0e0e0;
min-height:10px;
}

QScrollBar::handle:horizontal { /* Scroll Bar Slider - horizontal */
background:#e0e0e0;
min-width:10px;
}

QScrollBar::add-page, QScrollBar::sub-page { /* Scroll Bar Background */
background:#F8F6F6;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal { /* Define Arrow Button Dimensions */
background-color:#F8F6F6;
border: 1px solid #f2f0f0;
width:16px;
height:16px;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
background-color:#e0e0e0;
}

QScrollBar::sub-line:vertical { /* Vertical - top button position */
subcontrol-position:top;
subcontrol-origin: margin;
}

QScrollBar::add-line:vertical { /* Vertical - bottom button position */
subcontrol-position:bottom;
subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal { /* Vertical - left button position */
subcontrol-position:left;
subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal { /* Vertical - right button position */
subcontrol-position:right;
subcontrol-origin: margin;
}

QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow { /* Arrows Icon */
width:10px;
height:10px;
}

QScrollBar:up-arrow {
background-image: url(':/images/drkblue_upArrow_small');
}

QScrollBar:down-arrow {
background-image: url(':/images/drkblue_downArrow_small');
}

QScrollBar:left-arrow {
background-image: url(':/images/drkblue_leftArrow_small');
}

QScrollBar:right-arrow {
background-image: url(':/images/drkblue_rightArrow_small');
}


/*******************************************************/

/* DIALOG BOXES */

QWidget#AddressBookPage {
border-image: url(':/images/ltbcbg') 0 0 0 0 stretch stretch;
border:0;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
border-top:0px solid #000;
margin:0;
padding:0;
}	

QDialog#CoinControlDialog {
border-image: url(':/images/ltbcbg') 0 0 0 0 stretch stretch;
}

QDialog .QTabWidget {
border-bottom:1px solid #333;
}

QDialog .QTabWidget::pane {
border: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab {
background-color:#f2f0f0;
color:#333;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
border-top: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab:first {
border-left: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab:last {
border-right: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab:selected, QDialog .QTabWidget QTabBar::tab:hover {
background-color:#ffffff;
color:#333;
}

QDialog .QTabWidget .QWidget {
background-color:#fff;
color:#333;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox {
min-height:15px;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox::down-button {
width:15px;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox::up-button {
width:15px;
}

QDialog .QTabWidget .QWidget QComboBox {
min-height:15px;
}

QDialog QWidget { /* Remove Annoying Focus Rectangle */
outline: 0;
}

/*******************************************************/
/* FILE MENU */

/* Dialog: Sign / Verify Message */
QDialog#SignVerifyMessageDialog {
border-image: url(':/images/ltbcbg') 0 0 0 0 stretch stretch;
}


QDialog#SignVerifyMessageDialog QPlainTextEdit { /* Message Signing Text */
border:1px solid #000000;
background-color:#fff;
}

/* Dialog: Send and Receive */
QWidget#AddressBookPage {
background-color:#F8F6F6;
}


QWidget#AddressBookPage QTableView { /* Address Listing */
font-size:12px;
}

QWidget#AddressBookPage QHeaderView::section { /* Min width for Windows fix */
min-width:260px;
}

/* SETTINGS MENU */

/* Encrypt Wallet and Change Passphrase Dialog */
QDialog#AskPassphraseDialog {
background-color:#F8F6F6;
}

QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:170px;
min-height:33px; /* base width of 25px for QLineEdit, plus padding and border */
}

/* Options Dialog */
QDialog#OptionsDialog {
background-color:#F8F6F6;
}

QDialog#OptionsDialog QValueComboBox, QDialog#OptionsDialog QSpinBox {
margin-top:5px;
margin-bottom:5px;
}

QDialog#OptionsDialog QValidatedLineEdit, QDialog#OptionsDialog QValidatedLineEdit:disabled, QDialog#OptionsDialog QLineEdit, QDialog#OptionsDialog QLineEdit:disabled {
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-height:20px;
margin-top:0px;
margin-bottom:0px;
padding-top:1px;
padding-bottom:1px;
}

QDialog#OptionsDialog > QLabel {
qproperty-alignment: 'AlignVCenter';
min-height:20px;
}

QDialog#OptionsDialog QWidget#tabDisplay QValueComboBox {
margin-top:0px;
margin-bottom:0px;
}

QDialog#OptionsDialog QLabel#label_3 { /* Translations Missing? Label */
qproperty-alignment: 'AlignVCenter | AlignCenter';
color:#818181;
padding-bottom:8px;
}

QDialog#OptionsDialog QCheckBox {
min-height:20px;
}

QDialog#OptionsDialog QCheckBox#displayAddresses {
min-height:33px;

}

/* TOOLS MENU */

QDialog#RPCConsole { /* RPC Console Dialog Box */
background-color:#F8F6F6;
}

QDialog#RPCConsole QTextEdit#messagesWidget { /* Console Messages Window */
border:0;
}

QDialog#RPCConsole QLineEdit#lineEdit { /* Console Input */
margin-right:5px;
}


/* HELP MENU */

/* Command Line Options Dialog */
QDialog#HelpMessageDialog {
background-color:#F8F6F6;
}

QDialog#HelpMessageDialog QScrollArea * {
background-color:#ffffff;
}

QDialog#HelpMessageDialog QScrollBar:vertical, QDialog#HelpMessageDialog QScrollBar:horizontal {
border:0;
}

/* About Dash Dialog */
QDialog#AboutDialog {
background-color:#F8F6F6;
}

QDialog#AboutDialog QLabel#label, QDialog#AboutDialog QLabel#copyrightLabel, QDialog#AboutDialog QLabel#label_2 { /* About Dash Contents */
margin-left:10px;
}

QDialog#AboutDialog QLabel#label_2 { /* Margin for About Dash text */
margin-right:10px;
}

/* SEND DIALOG */

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures { /* Coin Control Header */
font-weight:bold;
font-size:14px;
}

/* SEND COINS ENTRY */


QStackedWidget#SendCoinsEntry .QValidatedLineEdit#payTo { /* Pay To Input Field */
}

QStackedWidget#SendCoinsEntry .QToolButton { /* General Settings for Pay To Icons */
background-color:transparent;
padding-left:5px;
padding-right:5px;
border: 0;
outline: 0;
}

QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton {
}

QStackedWidget#SendCoinsEntry .QToolButton#pasteButton {
}

QStackedWidget#SendCoinsEntry .QToolButton#deleteButton {
}

QStackedWidget#SendCoinsEntry .QLineEdit#addAsLabel { /* Pay To Input Field */
}

QFrame#SendCoinsEntry .QToolButton {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 118));
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}
QFrame#SendCoinsEntry .QToolButton:hover {
background-color:qlineargradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.494318 rgba(0, 0, 0, 171));
}

QFrame#SendCoinsEntry .QToolButton:focus {
border:none;
outline:none;
}

QFrame#SendCoinsEntry .QToolButton:pressed {
border:1px solid #FFFFFF;
}

/* COIN CONTROL POPUP */

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item {
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { /* Coin Control Item (selected) */
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { /* Coin Control Item (checked) */
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { /* Coin Control Branch Icon */
background-image: url(':/images/drkblue_qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { /* Coin Control Branch Icon */
background-image: url(':/images/drkblue_qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::seperator {

}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::indicator { /* Coin Control Widget Checkbox */

}

QDialog#CoinControlDialog .QLabel#labelCoinControlFee{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlFeeText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutput{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutputText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlPriority{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlPriorityText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlBytes{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlBytesText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFee{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFeeText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlChange{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlChangeText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlQuantity{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlQuantityText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlAmount{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#CoinControlDialog .QLabel#labelCoinControlAmountText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}

QDialog#SendCoinsDialog .QLabel#labelCoinControlFee{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlFeeText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlLowOutput{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlLowOutputText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlPriority{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlPriorityText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlBytes{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlBytesText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlAfterFee{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlAfterFeeText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlChange{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlChangeText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlQuantity{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlQuantityText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlAmount{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
QDialog#SendCoinsDialog .QLabel#labelCoinControlAmountText{
background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.5 rgba(0, 0, 0, 102));
border:0;
border-radius:6px;
font-size:10px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}

/* TRANSACTIONS PAGE */

TransactionView QLineEdit { /* Filters */
margin-bottom:2px;
margin-right:1px;
min-width:111px;
text-align:center;
}

TransactionView QLineEdit#addressWidget { /* Address Filter */
margin-bottom:2px;
margin-right:1px;
min-width:405px;
text-align:center;
}

TransactionView QLineEdit#amountWidget { /* Amount Filter */
margin-bottom:2px;
margin-right:1px;
max-width:100px;
text-align:center;
}

TransactionView QComboBox {
margin-bottom:1px;
margin-right:1px;
}

QLabel#transactionSumLabel { /* Example of setObjectName for widgets without name */
color:#333333;
font-weight:bold;
}
 
QLabel#transactionSum { /* Example of setObjectName for widgets without name */
color:#333333;
}

/* TRANSACTION DETAIL DIALOG */

QDialog#TransactionDescDialog {
background-color:#F8F6F6;
}

QDialog#TransactionDescDialog QTextEdit { /* Contents of Receive Coin Dialog */
border:1px solid #d7d7d7;
}
